@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200&family=Noto+Sans:wght@200;300&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200&family=Noto+Sans:wght@200;300;400&family=Syncopate&display=swap');

.home{
    font-family: 'Noto Sans', sans-serif;
}
.about-us{
    display: flex;
    margin-top: 6vw;
}